<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Анализа на текст</title>
  </head>
  <style>
    button {
      background: linear-gradient(to left, #eaafc8, #654ea3);
      border: none;
      padding: 0.9em 2em;
      border-radius: 3em;
      font-size: 1rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }

    button:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    }
  </style>
  <body>
    <form action="/analiza" method="post">
      <textarea name="text" rows="5" cols="40"></textarea>
      <br />
      <br />
      <button type="submit">Анализирај</button>
    </form>
  </body>
</html>
